.main-banner {
  height: 100vh;
  width: 100vw;
  background: var(--burgundy);
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 1000px;
}

.main-banner .columns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
}

.main-banner .columns>div {
  padding: 35px;
  width: 45%;
  text-align: center;
  min-height: 300px;
}

.main-banner .columns .welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0
}

.main-banner .columns h1 {
  color: var(--white);
  font-size: 45px;
}

.main-banner .columns>div>h1 {
  margin-bottom: -15px;
}

.main-banner .columns h1 span {
  color: var(--gold);
}

.main-banner .columns button:first-child {
  margin-right: 35px;
}

.main-banner .columns .portrait {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 300px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 6px solid #c9941871;
}

@media (min-width: 1441px) {
  .main-banner .columns {
    flex-direction: column-reverse;
  }

  .main-banner .portrait {
    margin-bottom: 35px;
  }
}

@media (max-width: 426px) {
  .main-banner {
    max-height: unset;
  }

  .main-banner .columns {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .main-banner .portrait {
    margin-bottom: 35px;
  }

  .main-banner .columns>div {
    width: unset;
  }

  .main-banner .columns>div>h1 {
    margin-bottom: unset;
  }

  .main-banner .columns .class-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }
}