.paypal-buttons {
    display: flex;
    flex-direction: column;
}

.paypal-buttons>* {
    margin-bottom: 15px;
}

.paypal-buttons>div {
    display: flex;
}

.paypal-buttons>div>p {
    margin-left: 25px;
}

.paypal-buttons button {
    width: 225px;
    border-radius: 5px;
}

.paypal-buttons .orange {
    background: #b07200;
    padding: 15px;
}