.story-banner-shell {
  height: 100vh;
  max-height: 750px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(0deg,
      rgba(0, 49, 83, 1) 80%,
      rgba(94, 7, 21, 1) 100%);
  overflow: hidden;
}

.story-banner {
  height: 100vh;
  max-height: 750px;
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.story-banner h1 {
  color: var(--white);
}

.story-banner h1 span {
  color: var(--gold);
}

.story-banner button {
  padding-left: 35px;
  padding-right: 35px;
}

.story-banner>div {
  margin-top: 35px;
  width: calc(100% - 450px);
  position: relative;
  z-index: 2;
}

.story-banner>div:first-child {
  width: 550px;
  height: 450px;
}

.story-banner>div:last-child {
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.story-banner>div:last-child>* {
  margin-bottom: 15px;
}

.story-banner .instructor-image {
  background: white;
  position: absolute;
  top: 0;
  left: 35px;
  width: 350px;
  height: 450px;
  border: 6px solid #c9941871;
}

.story-banner .studio-image {
  background: white;
  position: absolute;
  bottom: 0;
  right: 35px;
  width: 250px;
  height: 250px;
  border: 6px solid #c9941871;
}

@media (max-width: 426px) {
  .story-banner-shell {
    height: unset;
    max-height: unset;
    padding-top: 125px;
  }

  .story-banner {
    height: unset;
    max-height: unset;
    flex-direction: column;
  }

  .story-banner>div:first-child {
    width: 100vw;
    display: flex;
  }

  .story-banner .instructor-image {
    position: unset;
  }

  .story-banner .studio-image {
    right: 0;
  }

  .story-banner>div:last-child {
    width: 90vw;
    padding: 0;
  }
}