.contact-page {
  position: relative;
  overflow: hidden;
  padding: 50px 0 35px;
  min-height: 100vh;
  background: var(--burgundy);
  display: flex;
  justify-content: space-around;
}

.contact-page .contact-card {
  color: var(--white);
  padding: 35px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.contact-page .contact-card h1 {
  font-size: 50px;
}

.contact-page .contact-card h2 {
  color: var(--gold);
  font-size: 35px;
  margin: 15px 0;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-page form input,
.contact-page textarea {
  background: #00000025;
  border: unset;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  margin: 5px;
}

.contact-page textarea {
  width: 500px;
  height: 100px;
}

.contact-page form label, .contact-page form input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}